@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #09090b;
    color: #f4f4f5;
  }
}

/* Custom Leaflet Dark Mode Tiles & Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #121215;
}
